body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
#base{
    border: black solid 2px;
    background-image:url(../images/발바닥.jpg);
    background-size: 70px;
    background-repeat: repeat;
    width: 700px;
    height: 500px;
}
#starting{
    border: rgb(255, 219, 151) solid 5px;
    
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(251, 239, 216);
    border-radius: 10px;
    background-size:40px 40px;
}
#game_title{
    background-image:url(../images/title.png);
    background-size: 550px 180px;
    width: 430px;
    height: 65px;
    border: rgb(255, 219, 151) solid 5px;
    background-color: rgb(255, 251, 233);
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
}
.buttons{
    float: left;
    margin-left: 20px;
    margin-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 199, 154);
    color:  rgb(151, 99, 3);
    font-weight: bold;
    border: orange solid 4px;
    font-size: 20px;
    border-radius: 10px;
    height: 70px;
}
.buttons:hover{
    background-color: rgb(255, 192, 185);
    color: white;
    border: rgb(240, 105, 105) 4px solid;
    font-size: 23px;
}
#btn_info{
    margin-left: 70px;
}
#btn_start{
    width: 230px;
    font-size: 30px;
    font-weight: bolder;
}
#btn_start:hover{
    font-size: 35px;
}
/* 안내 버튼 창 관련 적용 */
#infoBackDiv{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: none;
}
#infoBackDiv>div{
    background-color: rgb(255, 192, 185);
    color: white;
    border: rgb(240, 105, 105) 3px solid;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    margin-left: 545px;
    margin-top: 350px;
}
#close_info{
    display: block;
    margin-left: 270px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    padding: 0px;
    background-color: rgb(255, 191, 184);
    border: rgba(250, 128, 114, 0) solid 1px;
    font-weight: bolder;
    border-radius: 50%;
}
#close_info:hover{
    background-color: rgb(255, 148, 136);
    border: rgb(255, 230, 228) solid 1px;
}
#info_for_game, #howToPlay{
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    background-color:  rgb(255, 255, 255);
    color: rgb(212, 105, 123);
    border: rgb(255, 141, 131)3px solid;
    font-weight: bolder;
    font-size: 15px;
}
#info_for_game:hover, #howToPlay:hover{
    background-color: rgb(255, 224, 199);
    border: orange solid 4px;
    color:  rgb(151, 99, 3);
}
#HTP,#info_game{
    width: 600px;
    height: 300px;
    border: rgb(212, 105, 123) solid 3px;
    background-color: rgb(255, 224, 199);
    margin-left: -50px;
    margin-top: -197px;
    position: fixed;
    z-index: 1;
    border-radius: 10px;
    overflow: auto;
    display: none;
}
#close_howToPlay,#close_game_info{
    background-color: rgb(255, 192, 192);
    border: rgb(240, 105, 105) 2px solid;
    color: rgb(85, 19, 19);
    border-radius: 10px;
}
#close_howToPlay:hover,#close_game_info:hover{
    background-color: rgb(136, 48, 48);
    color: white;
}
#info_game>div>div>p,#info_game>div>h2{
    margin-left: 20px;
    margin-right: 20px;
}
#close_game_info,#close_howToPlay{
    margin-left: 540px;
    margin-top: 5px;
}
#HTP>div>h2{
    margin-left: 20px;
    font-size: 30px;
}
#game_info_1{
    width: 500px;
    border: rgb(212, 105, 123) solid 3px;
    border-radius: 10px;
}
#game_info_2>img{
    width: 100px;
    border: rgb(212, 105, 123) solid 3px;
    border-radius: 10px;
}
#how_to_play_n_info{
    margin-left: 20px;
}
#how_to_play_n_info>img, #how_to_play_n_info>div{
    margin-left: 20px;
}