#stageFailBackDiv{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
}
#stageFailBackDiv>div{
    border: darkblue solid 4px;
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#stageFailBackDiv>div>div{
    width: 400px;
    height: 300px;
    border: steelblue solid 3px;
    background-color: wheat;
}
#stageFailBackDiv>div>div #lose{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
#stageFailBackDiv>div>div #stageClear_scoreDiv{
    border: dotted 7px purple;
    font-size: 40px;
    background-color: cornsilk;
    color: black;
    font-weight: 700;
    margin-left: 43px;
    width: 300px;
    text-align: center;
    margin-top: 10px;
}
#stageFailBackDiv>div>div #stageFail_buttons>button{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: salmon;
    border: orange solid 3px;
    margin-left: 20px;
    font-size: 30px;
}
#stageFailBackDiv>div>div #stageFail_buttons>button:hover{
    background-color: orange;
    color: white;
    border: tomato solid 2px;
}